<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd


                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.neutral.distribute"/>

    <!-- 激活spring的注解. -->
    <context:annotation-config />
    <import resource="spring-lock.xml"/>

    <bean id="threadPool" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool">
        <constructor-arg value="30"/>
    </bean>

    <bean id="distributeLock" class="com.neural.distribute.toolkits.lock.zookeeper.ZookeeperReentrantLock">
        <constructor-arg value="10.185.31.4:2181,10.185.31.4:2182,10.185.31.4:2183"/>
        <constructor-arg value="payment"/>
    </bean>
</beans>